* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #020617;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}

.navbar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.content {
  position: relative;
  text-align: center;
}

.content h2 {
  font-size: 3rem;
}

.content button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #3b82f6;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* CARS */
.cars {
  display: flex;
  gap: 20px;
  padding: 60px;
  justify-content: center;
}

.card {
  background: #0f172a;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}